[submodule "gitteste1"]
	path = gitteste1
	url = https://github.com/escuderovergili/gitteste1
	branch = master
[submodule "fs_simul"]
	path = fs_simul
	url = https://github.com/crmoratelli/fs_simul.git
	branch = master
